#active-game {
  text-align: center;
  margin: 3.2rem 0 8rem 0;
  /* display: none; */
}

#active-game > p {
  margin-bottom: 1.6rem;
}

#game-over {
  width: 90%;
  max-width: 64rem;
  margin: 0 auto 1.6rem;
  padding: 1.6rem 3.2rem;
  background-color: rgb(50, 5, 87);
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

#game-over h2 {
  font-size: 4rem;
  margin-bottom: 1.6rem;
}

#game-over p {
  margin-bottom: 1.6rem;
}

#winner-name {
  text-transform: uppercase;
}

#active-player-name {
  font-weight: 700;
  color: rgb(50, 5, 87);
}

#game-board {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 9.6rem);
  grid-template-rows: repeat(3, 9.6rem);
  justify-content: center;
  gap: 0.8rem;
}

#game-board li {
  background-color: rgb(215, 187, 247);
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 700;
}

#game-board li:hover {
  background-color: rgb(112, 13, 204);
}

#game-board li.disabled {
  background-color: rgb(112, 13, 204);
  cursor: default;
  color: #fff;
}
